body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 700px;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.dark-section {
  background-color: #1c1d1f;
  color: white;
}

.btn {
  padding: 10px;
  background-color: #bb2525;
  color: white;
  border-radius: 4px;
}

.btn:hover {
  background-color: black;
}

.img-treatment {
  -webkit-clip-path: polygon(0 0, 100% 17%, 100% 100%, 0 86%);
  clip-path: polygon(0 0, 100% 17%, 100% 100%, 0 86%);
}

figure.hero figcaption {
  position: absolute;
  top: 0px;
  right: 20px;
}

figure.hero figcaption img {
  width: 200px;
}

/* slider stuff */
.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: white;
}
